<body>
    <h3>Inventory Tracking System</h3>

    <%= link_to "New Item", new_inventory_path %>

    <table>

        <tr>
            <td>ID</td>
            <td>Description</td>
            <td>Quantity</td>
            <td>Price ($)</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>

        <% @inventory_items.each do |i| %>
            <tr>
                <td><%= i.id %></td>
                <td><%= i.description %></td>
                <td><%= i.quantity %></td>
                <td><%= i.price %></td>
                <td><%= link_to "Edit", edit_inventory_path(i) %></td>
                <td><%= link_to 'Destroy', i, method: :delete, data: {confirm: 'Are you sure?'} %></td>

            </tr>
        <% end %>
        
    </table>
</body>